/*
Menu bar styling
 */
.footer {
  background-color: var(--background);
  /* vertically align centers */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1em;
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  flex-wrap: wrap;
  padding: .5rem;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: .85rem;
  color: inherit;
  text-decoration: none;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

.footer-text {
  margin: .75em;
  font-size: .75rem;
}
