<nav [class.no-border]="isHomePage" class="header">
  <!-- Left side -->
  <a class="name no-style-line" routerLink="/">Derek Garcia</a>

  <!-- Right side menu items -->
  <div class="flex-container nav-right">
    <!--page nav-->
    <ul class="menu-items">
      <!--nav links-->
      @for (item of items; track item.label) {
        <li>
          <a [routerLink]="item.routerLink" class="menu-item">{{ item.label }}</a>
        </li>
      }

      <!--resume button-->
      <app-simple-button [content]="'Resume'" [routerLink]="'/'" class="resume-btn"></app-simple-button>
    </ul>
  </div>
</nav>
