.info-card {
  color: black;
  background: var(--lt-blue-accent);

  padding: 1rem 1.5rem;
  box-sizing: border-box; /*Padding and border are INCLUDED in the declared height.*/
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  flex: 1;

  height: 100%;

  /*initially hidden*/
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.card-content {
  flex-grow: 1;
}

.info-header {
  font-size: 2rem;
}


/* visible state */
.info-card.fade-in {
  opacity: 1;
  transform: translateY(0);
}

