.card {
  position: relative;
  background: var(--yellow-accent);
  width: 540px;
  height: 360px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: visible; /* IMPORTANT */
}

.card-image {
  position: absolute;
  left: -3rem; /* pushes image past the LEFT edge */
  margin-bottom: 1rem;
}

.card-text {
  margin-top: 22.8rem; /* push text below absolute image */
  padding-left: 5rem;
  color: var(--background);
  font-style: italic;
}

.info-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  align-items: stretch;
}


.section-header {
  font-size: 3em;
  text-decoration: underline;
  font-weight: 300;
}
