:root {
  --font-base: 'Instrument Sans', sans-serif;

  --background: #0D1321;
  --background-1: #1D2D44;

  --teal-secondary: #406C76;
  --beige-secondary: #F0EBD8;

  --windsurf-accent: #748CAB;
  --lt-blue-accent: #8FC1C4;
  --orange-accent: #F76902;
  --yellow-accent: #F5DF8B;
}

.flex-container {
  display: flex;
}

.flex-distribute {
  flex: 1; /* equal width */
}

.right-align {
  margin-left: auto;
}

.horiz-align {
  align-items: center
}

.vert-align {
  justify-content: center
}

.row {
  flex-direction: row;
  gap: 1em; /* spacing between columns */
}

.column {
  flex-direction: column; /* stack children vertically */
  margin-bottom: 1em;
}

.blue-gradient {
  background: linear-gradient(to bottom, var(--background), var(--background-1));
}

.content {
  padding-left: 3rem;
  padding-right: 3rem;
}

html, body {
  margin: 0;
  padding: 0;

  overflow-x: hidden; /*prevent horizontal scrolling*/

  font-family: var(--font-base), sans-serif;
  color: white;
}
