:root {
  --font-base: 'Instrument Sans', sans-serif;

  --background: #0D1321;
  --background-1: #1D2D44;

  --teal-secondary: #406C76;
  --beige-secondary: #F0EBD8;

  --windsurf-accent: #748CAB;
  --lt-blue-accent: #8FC1C4;
  --orange-accent: #F76902;
  --yellow-accent: #F5DF8B;
}

.container {
  display: flex;
}

.right-aligned {
  margin-left: auto;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* spacing between columns */
}

.column {
  flex: 1; /* equal width */
  padding: 1rem;
}


.blue-gradient {
  display: block;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, var(--background), var(--background-1));
  box-sizing: border-box;
  overflow-x: hidden;
}

.content {
  margin: 0;
  padding-left: 3em;
  padding-right: 3em;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--font-base), sans-serif;
  color: white;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
